<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MoviWeb App</title>
    <style>body {font-family: 'Montserrat', sans-serif;}
    h1 {display: flex; justify-content: center; color: #E3170A;}
    a {display: inline-flex; align-items: center; justify-content: center; background-color: #f0f0f0;
 border: 1px solid #ccc;border-radius: 4px; padding: 10px; margin: 5px; min-width: 100px;
  box-sizing: border-box; flex-direction: column}

</style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<h1>Welcome to the MoviWeb App!</h1>

<a href="{{url_for('list_users')}}">Users</a>
<a href="{{url_for('add_user')}}">Add User</a>
<body>
<img src="">
</body>
</html>